@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Core drama */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}
/* End core drama */

/* Dramatis personae */
[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] p{
	text-indent: 0;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	font-style: italic;
	margin: 1em;
}

[epub|type~="z3998:dramatis-personae"] ul + p{
	margin-top: 2em;
}

#dramatis-personae table{
	break-inside: avoid;
}

#dramatis-personae tr td{
	padding: 0 .5em 0 0;
	text-align: right;
	vertical-align: middle;
	width: 50%;
}

#dramatis-personae tr td + td{
	border-left: 1px solid;
	padding: 0 0 0 .5em;
	text-align: initial;
}
/* End dramatis personae */

@media(max-width: 400px){
	[epub|type~="z3998:drama"] td,
	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"],
	[epub|type~="z3998:drama"] td:last-child{
		display: block;
		padding: 0;
		text-align: initial;
		width: 100%;
	}

	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
		break-after: avoid;
		margin-top: 1.5em;
	}

	/* Rows that are only stage direction get a top margin. */
	[epub|type~="z3998:drama"] td:first-child:not([epub|type]) + td{
		margin-top: 1.5em;
	}
}
